body, html {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    text-align: center;
    width: 90%; /* Set a fixed width */
    max-width: 300px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
    gap: 10px;
    margin-bottom: 20px;
}

.game-cell {
    font-size: 2em;
        text-align: center;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

#submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#result {
    min-height: 20px;
    margin-top: 20px;
    color: #333;
    font-size: 1.2em;
}

@media (max-width: 600px) {
    #game-container {
        grid-template-columns: repeat(3, 50px);
        grid-template-rows: repeat(3, 50px);
    }

    .game-cell {
        font-size: 1.5em;
        padding: 5px;
    }
}

#game-logo {
    width: 170px; /* Adjust the size as needed */
    margin: 0 auto; /* Center the logo if needed */
    /* Add more styling rules as necessary */
}
